//colors
$color_mischka_approx: #bdc3c7;
$color_santas_gray_approx: #97a0b3;
$white: #fff;
$color_tundora_approx: #444;
$color_alabaster_approx: #f9f9f9;
$color_alto_approx: #ddd;
$black_12_5: rgba(0, 0, 0, 0.125);
$black_50: rgba(0, 0, 0, 0.5);
$color_athens_gray_approx: #ecf0f5;
$color_boston_blue_approx: #3c8dbc;
$color_glacier_approx: #72afd2;
$color_storm_dust_approx: #666;
$white_20: rgba(255, 255, 255, 0.2);
$black_10: rgba(0, 0, 0, 0.1);
$white_90: rgba(255, 255, 255, 0.9);
$color_celeste_approx: #ccc;
$color_heather_approx: #b8c7ce;
$color_shark_approx: #222d32;
$color_mirage_approx: #181f23;
$color_aztec_approx: #141a1d;
$color_chicago_approx: #5e5e5e;
$color_porcelain_approx: #eff1f7;
$color_woodsmoke_approx: #111;
$color_wild_sand_approx: #f4f4f5;
$color_gallery_approx: #eee;
$color_tapa_approx: #777;
$color_mercury_approx: #e1e3e9;
$color_mine_shaft_approx: #333;
$wild_sand: #f4f4f4;
$color_mountain_mist_approx: #999999;
$color_suva_gray_approx: #888888;
$white_80: rgba(255, 255, 255, 0.8);
$color_pink_swan_approx: #bbb;
$color_green_haze_approx: #00a65a;
$color_tree_poppy_approx: #f39c12;
$color_valencia_approx: #dd4b39;
$white_15: rgba(255, 255, 255, 0.15);
$color_robins_egg_blue_approx: #00c0ef;
$black_15: rgba(0, 0, 0, 0.15);
$white_70: rgba(255, 255, 255, 0.7);
$black: #000;
$color_nevada_approx: #606c84;
$color_black_haze_approx: #f7f7f7;
$color_fuscous_gray_approx: #555;
$black_20: rgba(0, 0, 0, 0.2);
$color_astral_approx: #367fa9;
$color_salem_approx: #008d4c;
$color_cerulean_approx: #00acd6;
$color_punch_approx: #d73925;
$color_golden_bell_approx: #e08e0b;
$color_silver_chalice_approx: #aaa;
$color_thunderbird_approx: #c23321;
$color_meteor_approx: #c87f0a;
$color_bondi_blue_approx: #0097bc;
$color_fun_green_approx: #00733e;
$alabaster: #fafafa;
$black_30: rgba(0, 0, 0, 0.3);
$color_calypso_approx: #307095;
$color_japonica_approx: #d87a68;
$color_flame_pea_approx: #ce563f;
$color_chathams_blue_approx: #205081;
$color_nile_blue_approx: #163758;
$color_curious_blue_approx: #1087dd;
$color_allports_approx: #0d6aad;
$color_azure_approx: #3b5998;
$color_astronaut_approx: #2d4373;
$color_rose_approx: #ff0084;
$color_razzmatazz_approx: #cc006a;
$color_violet_red_approx: #f94877;
$color_red_ribbon_approx: #f71752;
$color_baltic_sea_approx: #2b2b2b;
$color_san_juan_approx: #305777;
$color_deep_cerulean_approx: #007bb6;
$color_orient_approx: #005983;
$color_royal_blue_approx: #2672ec;
$color_denim_approx: #125acd;
$color_christine_approx: #da7908;
$color_cardinal_approx: #cb2027;
$color_tamarillo_approx: #9f191f;
$color_alice_blue_approx: #eff7ff;
$color_sail_approx: #bcddff;
$color_international_orange_approx: #ff5500;
$color_grenadier_approx: #cc4400;
$color_rhino_approx: #2c4762;
$color_big_stone_approx: #1c2d3f;
$color_picton_blue_approx: #55acee;
$color_scooter_approx: #1ab7ea;
$color_eastern_blue_approx: #1295bf;
$color_horizon_approx: #587ea3;
$color_blue_bayoux_approx: #466482;
$color_purple_approx: #720e9e;
$color_honey_flower_approx: #500a6f;
$color_gray_nurse_approx: #e9e9e9;
$color_tangaroa_approx: #001f3f;
$color_turquoise_approx: #39cccc;
$color_ocean_green_approx: #3d9970;
$color_spring_green_approx: #01ff70;
$color_ecstasy_approx: #ff851b;
$color_shocking_pink_approx: #f012be;
$color_scampi_approx: #605ca8;
$color_french_gray_approx: #b5bbc8;
$color_persian_red_approx: #d33724;
$color_venice_blue_approx: #005384;
$color_midnight_approx: #001a35;
$color_java_approx: #30bbbb;
$color_sea_green_approx: #368763;
$color_malachite_approx: #00e765;
$color_sorbus_approx: #ff7701;
$color_hollywood_cerise_approx: #db0ead;
$color_butterfly_bush_approx: #555299;
$color_maroon_flush_approx: #ca195a;
$color_waterloo__approx: #7a869d;
$color_aquamarine_blue_approx: #7adddd;
$color_danube_approx: #67a8ce;
$color_lochmara_approx: #0089db;
$color_bright_turquoise_approx: #14d1ff;
$color_koromiko_approx: #f7bc60;
$color_blue_bell_approx: #9491c4;
$color_jade_approx: #00ca6d;
$color_terracotta_approx: #e47365;
$color_cabaret_approx: #e73f7c;
$color_log_cabin_approx: #222;

//MyColors
$red: #ed2b35;

//fonts
$font_0: Source Sans Pro;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: fontAwesome;

//urls
$url_0: url(../../img/backend/boxed-bg.jpg);