//colors
$white_10: rgba(255, 255, 255, 0.1);
$white: #fff;
$color_alizarin_crimson_approx: #ed2b35;
$color_mischka_approx: #d2d6de;
$black_10: rgba(0, 0, 0, 0.1);
$color_black_haze_approx: #f6f6f6;
$color_alabaster_approx: #f9fafc;
$color_tundora_approx: #444444;
$color_gunsmoke_approx: #848484;
$black: #000000;
$color_wild_sand_approx: #f4f4f5;
$color_tapa_approx: #777777;
$color_storm_dust_approx: #666;
$color_mountain_mist_approx: #999;